<div style="display: flex">
  <div style="width: 50%">
    <p>{{ media.rating }}/10</p>
    <p>{{ media.ano }}</p>
    <p>
      {{ media.descricao }}
    </p>
    <span *ngFor="let person of media.stars">
      {{ searchPerson(person) }}
    </span>
  </div>
  <div>
    <img class="img-Selected" src="{{ media.imgBackground }}" alt="" />
  </div>
</div>

<swiper
  [slidesPerView]="'auto'"
  [spaceBetween]="5"
  [centeredSlides]="true"
  [freeMode]="true"
  [loop]="true"
  [pagination]="false"
  [grabCursor]="true"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let media of medias">
    <img
      class="img-ShowCase"
      src="{{ media.imgCover }}"
      alt=""
      (click)="teste(media.guid)"
    />
  </ng-template>
</swiper>
