<div id="divBackground">
  <div class="testeaaa">
    <div class="divMain-align-icon-text">
      <div class="divChild-align-icon-text">
        <mat-icon>star</mat-icon>
      </div>
      <div class="divChild-align-icon-text">{{ media.rating }}/10</div>

      <span class="span-space-divider"></span>

      <div class="divChild-align-icon-text">
        <mat-icon>calendar_today</mat-icon>
      </div>
      <div class="divChild-align-icon-text">{{ media.ano }}</div>
    </div>
    <!--
      <div class="divMain-align-icon-text">
        <div class="divChild-align-icon-text">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="divChild-align-icon-text">{{ media.ano }}</div>
      </div> -->

    <p>
      {{ media.descricao }}
    </p>
    <div *ngFor="let person of media.stars">
      <div class="divMain-align-icon-text">
        <div class="divChild-align-icon-text">
          <mat-icon>person</mat-icon>
        </div>
        <div class="divChild-align-icon-text">
          {{ searchPerson(person) }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div>
      <img class="img-Selected" src="{{ media.imgBackground }}" alt="" />
    </div> -->

  <swiper
    [slidesPerView]="'auto'"
    [spaceBetween]="5"
    [centeredSlides]="true"
    [freeMode]="true"
    [loop]="true"
    [pagination]="false"
    [grabCursor]="false"
    class="mySwiper"
  >
    <ng-template swiperSlide *ngFor="let media of medias">
      <div class="shop">
        <div class="content">
          <img
            class="img-ShowCase"
            src="{{ media.imgCover }}"
            alt=""
            (click)="teste(media.guid)"
          />
          <div class="infoTeste">
            <div class="mediaHover-content">
              <button mat-fab class="btn-actions">
                <mat-icon class="mat-18" routerLink="/video">play_arrow</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon class="mat-18">favorite</mat-icon>
              </button>
              <button mat-icon-button>
                <mat-icon class="mat-18" (click)="openDialogAddPlaylist()"
                  >playlist_add</mat-icon
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<ng-template #templateDialogAddPlaylist>
  <div class="teste1">
    <div class="teste2">Salvar em...</div>
    <button mat-icon-button mat-dialog-close class="teste3">
      <mat-icon class="mat-18">close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>
  <section>
    <div><mat-checkbox>Assistir mais tarde</mat-checkbox></div>
    <div><mat-checkbox>SWU</mat-checkbox></div>
    <div><mat-checkbox>MCU</mat-checkbox></div>
  </section>
</ng-template>
