<div style="display: flex">
  <div style="width: 50%">
    <div class="divMain-align-icon-text">
      <div class="divChild-align-icon-text">
        <mat-icon>star</mat-icon>
      </div>
      <div class="divChild-align-icon-text">{{ media.rating }}/10</div>

      <span class="span-space-divider"></span>

      <div class="divChild-align-icon-text">
        <mat-icon>calendar_today</mat-icon>
      </div>
      <div class="divChild-align-icon-text">{{ media.ano }}</div>
    </div>
<!--
    <div class="divMain-align-icon-text">
      <div class="divChild-align-icon-text">
        <mat-icon>calendar_today</mat-icon>
      </div>
      <div class="divChild-align-icon-text">{{ media.ano }}</div>
    </div> -->

    <p>
      {{ media.descricao }}
    </p>
    <div *ngFor="let person of media.stars">
      <div class="divMain-align-icon-text">
        <div class="divChild-align-icon-text">
          <mat-icon>person</mat-icon>
        </div>
        <div class="divChild-align-icon-text">
          {{ searchPerson(person) }}
        </div>
      </div>
    </div>
  </div>
  <div>
    <img class="img-Selected" src="{{ media.imgBackground }}" alt="" />
  </div>
</div>

<swiper
  [slidesPerView]="'auto'"
  [spaceBetween]="5"
  [centeredSlides]="true"
  [freeMode]="true"
  [loop]="true"
  [pagination]="false"
  [grabCursor]="true"
  class="mySwiper"
>
  <ng-template swiperSlide *ngFor="let media of medias">
    <img
      class="img-ShowCase"
      src="{{ media.imgCover }}"
      alt=""
      (click)="teste(media.guid)"
    />
  </ng-template>
</swiper>
