.swiper {
  width: 100%;
  height: 322px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.img-ShowCase {
  width: 220px;
  height: 322px;
}

.img-Selected {
  width: 750px;
  height: 390px;
}

.divMain-align-icon-text {
  display: flex;
  width: max-content;
  padding-bottom: 5px;
  padding-left: 15px;
}

.divChild-align-icon-text {
  margin: auto;
  vertical-align: middle;
  padding-right: 5px;
}

.span-space-divider {
  padding-right: 10px;
}

//-----------------------

.shop {
  background-repeat: repeat-x;
  width: 240px;

  .content {
    width: 182px;
    display: inline-block;
    position: relative;

    .infoTeste {
      display: none;
      position: absolute;
      bottom: 5px;
      width: 121%;
      height: 80px;
      background-image: linear-gradient(#00000000 5%, #000000);
      color: white;

      .mediaHover-content {
        padding: 10px;

        .btn-actions {
          background: white;
          color: black;
        }
      }
    }
  }

  :hover .infoTeste {
    display: inline-block;
  }
}

.teste1 {
  display: flex;
  width: 175px;
}

.teste2 {
  align-self: center;
  width: 80%;
}

.testeaaa {
  max-width: 874px;
}

// .testeBackground {
//   height: 100vh;
//   width: 100%;
//   background: url("https://images.pexels.com/photos/1563564/pexels-photo-1563564.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
//     no-repeat;
//   background-size: cover;
//   color: white;
// }
