// .minute-video{
//   font-size: 12px;
//   color: darkgray;
//   text-align: left;
//  }
//  .icon-video{
//    font-size: 14px;
//    color: darkgray;
//    text-align: left;
//  }

//  .button-list-video{
//    text-align: left;
//  }

//  .subtitle-video{
//    line-height: 1px;
//  }

.teste {
  display: flex;
  justify-content: center;
  background-color: #626262;
}
